<html>
    <head>
        <title>Visual English</title>
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> <!--css 사용할 수 있게 해줌-->

        <!--<script defer src="https://pyscript.net/alpha/pyscript.js"></script> <파이썬 코드를 사용할 수 있게 해줌-->  
    </head>
    <body>
        <h1>Visual Guess</h1>
        <main class="container">
            <form action="http://localhost:5000/list432" method = "POST">
                <p><input type="submit" value="4:3:2"/> </p>             
            </form>
            <form action="http://localhost:5000/list531" method = "POST">
                <p><input type="submit" value="5:3:1"/> </p>             
            </form>
            <form action="http://localhost:5000/list621" method = "POST">
                <p><input type="submit" value="6:2:1"/> </p>             
            </form>
            <form action="http://localhost:5000/list333" method = "POST">
                <p><input type="submit" value="3:3:3"/> </p>             
            </form>
            <form action="http://localhost:5000/list522" method = "POST">
                <p><input type="submit" value="5:2:2"/> </p>             
            </form>
            <form action="http://localhost:5000/list441" method = "POST">
                <p><input type="submit" value="4:4:1"/> </p>             
            </form>
            

        </main>
    </body>
</html>